<h1>New Payload</h1>

<%= form_for [@user, @payload] do |f| %>
  <%= f.file_field :contents %>
  <%= hidden_field_tag "payload[user_id]", @user.id %>
  <%= submit_tag("Upload") %>
<% end %>
<%= link_to 'Back', user_path(@user) %>
